body {
    background: url(images/Background.png);
}

#title {
    font-family: monospace;
    font-size: 140px;
    margin-left: 420px;
    margin-top: 60px;
    color: #02FE30;
    position: absolute;
}

#about {
    font-family: monospace;
    font-size: 70px;
    color: #8B29AE;
    margin-left: 200px;
    margin-top: 500px;
    position: absolute;
}

#pizza1 {
    position: absolute;
    margin-left: 300px;
    margin-top: 210px
}

#pizza2 {
    position: absolute;
    margin-left: 600px;
    margin-top: 210px
}

#pizza3 {
    position: absolute;
    margin-left: 900px;
    margin-top: 210px
}

#pizza4 {
    position: absolute;
    margin-left: 1200px;
    margin-top: 210px
}