@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

* {
    cursor: url(Images/pizzacursor.png), auto;
}

body { 
    background: url(images/Background.png);
}

#title {
    font-family: calibri;
    font-size: 140px;
    margin-left: 520px;
    margin-top: 60px;
    color: #02FE30;
    position: absolute;
}

#pizza1 {
    position: absolute;
    margin-left: 115px;
    margin-top: 240px;
}

#pizza2 {
    position: absolute;
    margin-left: 565px;
    margin-top: 240px;
}

#pizza3 {
    position: absolute;
    margin-left: 985px;
    margin-top: 240px;
}

#pizza4 {
    position: absolute;
    margin-left: 1455px;
    margin-top: 240px;
}

#about {
    font-family: calibri;
    font-size: 70px;
    color: white;
    margin-left: 215px;
    margin-top: 500px;
    position: absolute;
}

#locations {
    font-family: calibri;
    font-size: 70px;
    color: white;
    margin-left: 760px;
    margin-top: 500px;
    position: absolute;
}

#order {
    font-family: calibri;
    font-size: 70px;
    color: white;
    margin-left: 1422px;
    margin-top: 511px;
    position: absolute;
}

#aboutdetails {
    position: absolute;
    height: 191px;
    width: 207px;
    margin-top: 600px;
    margin-left: 194px;
}

#locationsdetails {
    position: absolute;
    height: 174px;
    width: 149px;
    margin-top: 600px;
    margin-left: 820px;
}

#ordercall {
    position: absolute;
    height: 24px;
    width: 48px;
    margin-top: 611px;
    margin-left: 1480px;
}

#ordernumber {
    position: absolute;
    height: 23px;
    width: 187px;
    margin-top: 675px;
    margin-left: 1416px;
}

#detailbuttons {
    transition:.2s;
    text-decoration: none;
    color: #ffffff;
}

#detailbuttons:hover {
    text-shadow: 
        .2rem .1rem #00ff42,
        .5rem .2rem #fd1d1d,
        .8rem .3rem #8500e2;
    opacity: 1;
}

#page2{
    background: url(Images/Background-red.png);
    position: absolute;
    margin-top: 900px;
    margin-left: -8px;
<<<<<<< HEAD
    height: 990px;
    width: 100%;
=======
    height: 915px;
    width: 1904px;
>>>>>>> f2afb5beb657d39702c5af449b9f35cdddf1c5f8
}

#browse {
    position: absolute;
    color: #ffffff;
    font-family: calibri;
    font-size: 60px;
    margin-top: 100px;
    margin-left: 550px;
}

#ten {
    position: absolute;
    color: #02FE30;
    font-family: calibri;
    font-size: 50px;
    margin-top: 200px;
    margin-left: 200px;
}

#cheesepizza {
    position: absolute;
    margin-top: 300px;
}

#fifteen {
    position: absolute;
    color: #02FE30;
    font-family: calibri;
    font-size: 50px;
    margin-top: 200px;
    margin-left: 870px;
}

#pepperonipizza {
    position: absolute;
    margin-top: 300px;
    margin-left: 652px;
}

#twenty {
    position: absolute;
    color: #02FE30;
    font-family: calibri;
    font-size: 50px;
    margin-top: 200px;
    margin-left: 1525px;
}

#custompizza {
    position: absolute;
    margin-top: 300px;
    margin-left: 1304px;
}

#explain {
    position: absolute;
    font-size: 28px;
    color: #ab33ff;
    font-family: calibri;
    margin-top: 760px;
    margin-left: 222px;
}

#lightspeed {
    position: absolute;
    color: #58D3F7;
    font-family: monospace;
    font-size: 80px;
    margin-top: 2200px;
    margin-left: 450px;
    text-shadow: 3.5px 3px #2f8da8,
                 7px 6px #0B4C5F;
}

#ship1 {
    position: absolute;
    margin-top: 2185px;
    margin-left: 80px;
}

#ship2 {
    position: absolute;
    margin-top: 2185px;
    margin-left: 1520px;
}

#ship3 {
    position: absolute;
    margin-top: 2440px;
    margin-left: 330px;
}

#ship4 {
    position: absolute;
    margin-top: 2440px;
    margin-left: 1299px;
}

#ship5 {
    position: absolute;
    margin-top: 1980px;
    margin-left: 330px;
}

#ship6 {
    position: absolute;
    margin-top: 1980px;
    margin-left: 1299px;
}

#ship7 {
    position: absolute;
    margin-top: 1880px;
    margin-left: 791px;
}


#alien1 {
     position: absolute;
     margin-top: 2400px;
     margin-left: 605px
}

#alien2 {
     position: absolute;
     margin-top: 2400px;
     margin-left: 815px
}

#alien3 {
     position: absolute;
     margin-top: 2400px;
     margin-left: 1005px
}

#backtotop {
    position: absolute;
    font-family: calibri;
    font-size: 30px;
    margin-top: 2635px;
    margin-left: 1660px;
}

#backtotop2 {
    position: absolute;
    font-family: calibri;
    font-size: 30px;
    margin-top: 2635px;
    margin-left: 90px;
}

#toplink {
    text-decoration: none;
    color: #04B404;
}

#toplink:hover {
    color: #02FE30;
}

#bottom {
    height: 100px;
    width: 100%;
    background: #0B0719;
    position: absolute;
    margin: 2700px 0px 0px -8px;
}

#smalltitle {
    position: absolute;
    color: #02FE30;
    font-family: calibri;
    font-size: 60px;
    margin-top: 15px;
    margin-left: 50px;
}

#termsofuse {
    position: absolute;
    color: #848484;
    margin-top: 40px;
    margin-left: 600px;
    font-family: monospace;
    font-size: 17px;
}

#termsandpolicy {
    color: #D8D8D8;
}

#termsandpolicy:hover {
    color: #02FE30;
}

#citystate {
    color: #D8D8D8;
    position: absolute;
    margin-top: 15px;
    margin-left: 1600px;
    font-family: calibri;
    font-size: 20px;
}

#streetaddress {
    color: #848484;
    position: absolute;
    margin-top: 40px;
    margin-left: 1600px;
    font-family: calibri;
    font-size: 17px;
}

#zipcode {
    color: #848484;
    position: absolute;
    margin-top: 62px;
    margin-left: 1600px;
    font-family: calibri;
    font-size: 17px;
}

#rocketship2 {
    position: absolute;
    font-family: calibri;
    font-size: 30px;
    margin-top: 2480px;
    margin-left: 1802px;
}

<<<<<<< HEAD
<<<<<<< HEAD
#rocketship2 {
    position: absolute;
    font-family: calibri;
    font-size: 30px;
    margin-top: 2480px;
    margin-left: 1802px;
}

=======
>>>>>>> f2afb5beb657d39702c5af449b9f35cdddf1c5f8
#light-theme 
{
  background-color: #F2F2F2;
}

.sidebar 
{
  position: fixed;
  background-color: white;
  top:0;
  left: 0;
  height: 75%;
  left: -25%;
  width: 325px;
  z-index: 500;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  visibility:hidden;
  opacity:0;
  -webkit-transition: left 500ms, visibility 0s linear 500ms, opacity 500ms linear; 
	background-color:
		#263238;
}

#light-theme {
    background-color: #F2F2F2;
}

.sidebar {
    position: fixed;
    background-color: white;
    top:0;
    left: 0;
    height: 100%;
    left: -25%;
    width: 25%;
    z-index: 500;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    visibility:hidden;
    opacity:0;
    -webkit-transition: left 500ms, visibility 0s linear 500ms, opacity 500ms linear; 
	background-color:#263238;
>>>>>>> 0bb0e6f70f351d7a65d1c7964f9d3bd1dfbb9141
}

.sidebar-active {
    left:0%;
    visibility:visible;
    opacity:1;
    transition-delay:0s;
}

<<<<<<< HEAD

.material-icon 
{ 
  top:90px;
  left:65px;
  width: 70px;
  height: 70px;
  margin: 35px;
  position: fixed;
  cursor: pointer;
  -webkit-transition: margin-left 500ms; /* For Safari 3.1 to 6.0 */
  transition: margin-left 500ms;
}

.menu-icon-sidebar
{
  margin-left: 17%;
}
 
.material-icon span 
{
  transition: all 400ms ease;
}
.material-icon { 
    top:90px;
    left:65px;
    width: 70px;
    height: 70px;
    margin: 35px;
    position: fixed;
    cursor: pointer;
    -webkit-transition: margin-left 500ms; /* For Safari 3.1 to 6.0 */
    transition: margin-left 500ms;
}

.menu-icon-sidebar {
    margin-left: 28%;
}
 
.material-icon span {
    transition: all 500ms ease;

}
 
.material-icon span {
    background-color: #CFD8DC;
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
}

.hamburger span {
    height: 10px;
    -webkit-transform: translateY(29px);
}
 
.hamburger .second {
    -webkit-transform: translateY(0);
}
 
.hamburger .third {
    -webkit-transform: translateY(60px);
}

.hamburger span, .arrow span {
    height: 10px;
    -webkit-transform: translateY(29px);
}
 
/* I also need to move it back a bit to keep it centered. */
.arrow {
    -webkit-transform: translateX(-3px);
}

.arrow .first {
    left:10px;
    width: 50px;
}
 
.arrow .third {
    -webkit-transform: rotate(45deg)  translateY(30px) translateX(25px);
    width: 40px;
}
 
.arrow .second {
	-webkit-transform: rotate(-45deg) translateY(10px) translateX(-15px);
    width: 40px;
}

.sidebar-user-image { 
    inline-border:100%;
    height: 0;
    padding-bottom: 100%;
}

.s {
    position:relative;
    content: url(https://lh3.googleusercontent.com/-24KW6tYn8Yk/VT6F7QyVK3I/AAAAAAAAGy0/3cYIgFS96eY/s506/Pizza-illustrator-03-vector-material-33314.png);
    height:250px;
    width:250px;
    top:-400px;
    left:50px;
}

ul {
	position:relative;
	top:300px;
	left:70px;
}

li {
	width:80px;
	height:80px;
	font-family:Lato;
	color:white;
	font-size:30px;
}

.nobullets {
    list-style-type: none;
}

li:hover {
	color:#00BFA5;
	cursor:pointer;
}
