body {
    background: url(images/Background.png);
}

#title {
    font-family: monospace;
    font-size: 140px;
    margin-left: 420px;
    margin-top: 60px;
    color: #02FE30;
    position: absolute;
}

#pizza1 {
    position: absolute;
    margin-left: 300px;
    margin-top: 210px
}

#pizza2 {
    position: absolute;
    margin-left: 600px;
    margin-top: 210px
}

#pizza3 {
    position: absolute;
    margin-left: 900px;
    margin-top: 210px
}

#pizza4 {
    position: absolute;
    margin-left: 1200px;
    margin-top: 210px
}

#about {
    font-family: monospace;
    font-size: 70px;
    color: white;
    margin-left: 200px;
    margin-top: 500px;
    position: absolute;
}

#locations {
    font-family: monospace;
    font-size: 70px;
    color: white;
    margin-left: 710px;
    margin-top: 500px;
    position: absolute;
}

#order {
    font-family: monospace;
    font-size: 70px;
    color: white;
    margin-left: 1400px;
    margin-top: 500px;
    position: absolute;
}

#aboutdetails {
    position: absolute;
    height: 191px;
    width: 207px;
    margin-top: 600px;
    margin-left: 194px;
}

#locationsdetails {
    position: absolute;
    height: 174px;
    width: 149px;
    margin-top: 600px;
    margin-left: 820px;
}

#ordercall {
    position: absolute;
    height: 24px;
    width: 48px;
    margin-top: 630px;
    margin-left: 1480px;
}

#ordernumber {
    position: absolute;
    height: 23px;
    width: 187px;
    margin-top: 700px;
    margin-left: 1416px;
}

a {
    transition:.2s;
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-shadow: 
        0 -.6rem #00ff42,
        .9rem .4rem #fd1d1d,
        -.9rem .4rem #8500e2;
    opacity: .7;
}

#lightspeed {
    position: absolute;
    color: #58D3F7;
    font-family: monospace;
    font-size: 80px;
    margin-top: 1300px;
    margin-left: 450px;
    text-shadow: 7px 7px #0B4C5F;
}

#ship1 {
    position: absolute;
    margin-top: 1100px;
    margin-left: 305px;
}

#ship2 {
    position: absolute;
    margin-top: 1100px;
    margin-left: 1315px;
}

#ship3 {
    position: absolute;
    margin-top: 1286px;
    margin-left: 105px;
}

#ship4 {
    position: absolute;
    margin-top: 1286px;
    margin-left: 1545px;
}

#ship5 {
    position: absolute;
    margin-top: 1486px;
    margin-left: 305px;
}

#ship6 {
    position: absolute;
    margin-top: 1486px;
    margin-left: 1315px;
}

#test {
    position: absolute;
    margin-top: 1800px;
}